<a [routerLink]="['/membro-detail', membro.id]">
  <div class="card card-widget widget-user">
    <div class="widget-user-header bg-info">
      <h3 class="widget-user-username">{{membro.name}}</h3>
      <h5 class="widget-user-desc">{{membro.job}}</h5>
    </div>
    <div class="widget-user-image">
      <img class="img-circle " [src]="membro.profilePath" alt="User Avatar">
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-sm-4 border-right">
          <div class="description-block nacionalidade">
            <h5 class="description-header">{{membro.nationality}}</h5>
            <span class="description-text">Nacionalidade</span>
          </div>
        </div>

        <div class="col-sm-4 border-right">
          <div class="description-block residencia">
            <h5 class="description-header">{{membro.paisderesidencia}}</h5>
            <span class="description-text">País de Residência</span>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="description-block">
            <h5 class="description-header">Disponível</h5>
            <span class="description-text">{{membro.disponibilidade}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</a>
