<!--<div class="main-footer">
  <div class="title-content">
    <h1>Entre em contato conosco</h1>

    <div class="contato-direto">

      <div class="mail">
        <p><i class='fa fa-envelope mr-2'></i>francaislegalzinho&#64;gmail.com</p>
      </div>
      <div class="whats-eu">
        <p><i class="fa-green fa-whatsapp mr-2"></i> 21 97214-1165</p>
      </div>
      <div class="whats-jac">
        <p><i class="fa-green fa-whatsapp mr-2"></i> 21 97179-6510</p>
      </div>
      <div class="whats-fob">
        <p><i class="fa-green fa-whatsapp mr-2"></i> 21 99814-7701</p>
      </div>
    </div>

    <div class="redes_icons_container">

      <p>Visite nossas redes sociais:</p>

      <div class="redes_icons">
        <a href="https://www.facebook.com/profile.php?id=61555583940981" target="_blank"><i class="facebook" aria-hidden="true"></i>facebook</a>
      </div>
      <div class="redes_icons">
        <a href="https://www.instagram.com/francaislegalzinho/" target="_blank"><i class="instagram" aria-hidden="true"></i>Instagram</a>
      </div>
    </div>
  </div>-->
  <footer class="text-center bg-body-tertiary bg-light">

    <h2>Siga as nossas redes sociais</h2>
    <div class="container pt-4 ">
      
      <section class="mb-4">
        <!-- Facebook -->
        <a
          data-mdb-ripple-init
          class="btn btn-link btn-floating btn-lg text-body m-1"
          href="https://www.facebook.com/profile.php?id=61555583940981"
          target="_blank"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-facebook"></i>
        </a>

        <!-- Instagram -->
        <a
          data-mdb-ripple-init
          class="btn btn-link btn-floating btn-lg text-body m-1"
          href="https://www.instagram.com/francaislegalzinho/"
          target="_blank"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-instagram"></i>
        </a>

      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3">
      <strong>Copyright &copy; 2024 <a href="">Français Legalzinho</a>.</strong>
      All rights reserved.
    </div>
    <!-- Copyright -->
  </footer>
